:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030c;
 }

 body {
 background-color: var(--cor-de-fundo);
 color: var( --branco-principal);
 font-family: Arial, Helvetica, sans-serif;
}
#main{
    top: 20px;
    position: absolute;
    width: 100vw;
    height: 680px;
    background: url(Background.png);
}
#combo{
    width: 30vw;
    
    position: absolute;
}
#plataformas{
    top:700px;

}
*{
    margin:0;
    padding:0;
}
.botao{
   background-color: #167BF7;
    height: 56px;
    width: 512px;
    position: absolute;
    left: 92px;
    top: 403px;
    border: none;
    border-radius: 8px;
    transition: 200ms;
}
.botao:hover{
    transform:scale(1.08);
    
}
.botao2{
    background: transparent;
    height: 56px;
    width: 512px;
    position: absolute;
    left: 92px;
    top:475px;
    border:none;
    color:#FFFFFF;
    border-radius: 8px;
    border:#FFFFFF solid 2px;
    transition: 200ms;
}

.botao2:hover{
 transform: scale(1.08);    
}

#plataformas{
    position: absolute;

}
#assista{
    position: absolute;
    width: 588px;
    height: 114px;
    left: 732px;
    top: 318px;
}
.assine{
    position: absolute;
    top: 1584px;
    left: 120px;
    width: 588px;
    height:72px;
    
}
#botaoAssine{
    position: absolute;
    height: 56px;
    width: 162.68px;
    top: 1672px;
    left: 120px;
    border-radius: 8px;
    background-color: #167BF7;
    border: none;
}
#telas{
    position: absolute;
    height: 338.96px;
    width: 496px;
    top: 1486px;
    left: 778px;
}
.baixe{
    position: absolute;
    height: 114px;
    width: 588px;
    top: 1859px;
    left: 739px;
}
#notebook{
    position: absolute;
    height: 324px;
    width: 547px;
    top: 2051px;
    left: 141px;
}
#tv{
position: absolute;
width:344px;
height:246px;
left:158px;
top:2678px;
}
#celular{
position: absolute;
width: 344px
height:246px
left:}
#computador{}